<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{settings.siteDesc}}">
    <meta name="keywords" content="{{settings.siteKeywords}}">
    <meta name="author" content="Bahadir Can Yildiz">

    <title>{{settings.siteTitle}} - {{settings.siteSubtitle}}</title>
    <!-- Swiper Slider CSS -->
    <link href="/static/css/swiper.css" rel="stylesheet">
	<!-- Custom Main StyleSheet CSS -->
    <link href="/static/style.css" rel="stylesheet">
    <!-- Color CSS -->
    <link href="/static/css/color.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="/static/css/responsive.css" rel="stylesheet">

    <style>
        /*Linear Gradient gives background color*/
        {{#if contents.home.facts}}
        .fact_figure_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)), url({{contents.home.facts.bgimage}});
        }
        {{/if}}
        
        {{#if contents.home.testimonials}}
        .gt_testimonial_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.home.testimonials.bgimage}});
        }
        {{/if}}
        
        {{#if contents.home.testimonials}}
        .gt_testimonial_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.home.testimonials.bgimage}});
        }
        {{/if}}
        
        {{#if contents.bgimage}}
        .gt_sub_banner_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.bgimage}});
        }
        {{/if}}
        
        {{#each kidservices}}
        .gt_icon{{@index}}{
            color: {{{color}}};
        }
        {{/each}}
        
        {{#each facts}}
        .facts_bg_{{@index}}{
        	background:{{{color}}};
        }
        {{/each}}
        {{#each settings.flips}}
        .flips_bg_{{@index}}{
        	background:{{{color}}};
        }
        {{/each}}
        {{#each courses}}
        .courses_bg_{{@index}}{
        	background:{{{ribbon.color}}};
        }
        .course_category.courses_bg_{{@index}}:before{
        	border-color: transparent transparent transparent {{{ribbon.color}}};
        }
        {{/each}}
        
        /*Offer CSS's*/
        {{#each offers.left}}
        .offers_left_bg_{{@index}}{
        	background:{{{color}}};
        }
        .bg_offer_left_{{@index}}{
        	border: 2px solid {{{color}}};
        }
        .gt_offer_wrap.bg_offer_left_{{@index}}:hover{
        	background-color:{{{color}}};
        }
        .gt_offer_wrap:hover.bg_offer_left_{{@index}}:before{
        	border:1px solid {{{color}}};
        }
        .gt_wht_offer_wrap > i.offers_left_bg_{{@index}}:after{
        	border: 2px dotted {{{color}}};
        }
        .gt_wht_offer_des span.bg_offer_left_{{@index}}{
        	background-color: {{{color}}};
        }
        .gt_wht_offer_wrap:hover i.offers_left_bg_{{@index}}:after{background-color:{{{color}}};}
        .bg_offer_left_{{@index}}:before{
        	content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0px;
        	opacity: 0;
        }
        
        .gt_offer_wrap:hover.bg_offer_left_{{@index}}:before{
        	bottom: -10px;
            right: -10px;
            opacity: 1;
        }
        {{/each}}
        
        
        {{#each offers.right}}
        .offers_right_bg_{{@index}}{
        	background:{{{color}}};
        }
        .bg_offer_right_{{@index}}{
        	border: 2px solid {{{color}}};
        }
        .gt_offer_wrap.bg_offer_right_{{@index}}:hover{
        	background-color:{{{color}}};
        }
        .gt_offer_wrap:hover.bg_right_left_{{@index}}:before{
        	border:1px solid {{{color}}};
        }
        .gt_wht_offer_wrap > i.offers_right_bg_{{@index}}:after{
        	border: 2px dotted {{{color}}};
        }
        .gt_wht_offer_des span.bg_offer_right_{{@index}}{
        	background-color: {{{color}}};
        }
        .gt_wht_offer_wrap:hover i.offers_right_bg_{{@index}}:after{background-color:{{{color}}};}
        .bg_offer_right_{{@index}}:before{
        	content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0px;
        	opacity: 0;
        }
        
        .gt_offer_wrap:hover.bg_offer_right_{{@index}}:before{
        	bottom: -10px;
            right: -10px;
            opacity: 1;
        }
        {{/each}}
    </style>
</head>