<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{settings.siteDesc}}">
    <meta name="keywords" content="{{settings.siteKeywords}}">
    <meta name="author" content="Bahadir Can Yildiz">

    <title>{{settings.siteTitle}} - {{settings.siteSubtitle}}</title>
    <!-- Swiper Slider CSS -->
    <link href="/static/css/swiper.css" rel="stylesheet">
	<!-- Custom Main StyleSheet CSS -->
    <link href="/static/style.css" rel="stylesheet">
    <!-- Color CSS -->
    <link href="/static/css/color.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="/static/css/responsive.css" rel="stylesheet">

    <style>
    
        .bannerservices-figure{
            height: 100px;
        }
        
        /*Linear Gradient gives background color*/
        {{#if contents.home.facts}}
        .fact_figure_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)), url({{contents.home.facts.bgimage}});
            background-size: cover;
        }
        {{/if}}
        
        {{#if contents.home.testimonials}}
        .gt_testimonial_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.home.testimonials.bgimage}});
            background-size: cover;
        }
        {{/if}}
        
        {{#if contents.home.testimonials}}
        .gt_testimonial_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.home.testimonials.bgimage}});
            background-size: cover;
        }
        {{/if}}
        
        {{#if contents.home.gallery}}
        .gt_gallery_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7));
        }
        .gt_gallery_bg{
            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),url({{contents.home.gallery.bgimage}});
            background-size: cover;
        }
        {{/if}}
        
        {{#if contents.subfooter.aboutus}}
        .gt_footer_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.subfooter.aboutus.bgimage}});
            background-size: cover;
        }
        {{/if}}
        
        {{#if contents.subbanner}}
        .gt_sub_banner_bg:before{
            background: linear-gradient(rgba(0, 162, 150, 0.7), rgba(0, 162, 150, 0.7)),url({{contents.subbanner.bgimage}});
            background-size: cover;
        }
        {{/if}}
        
        {{#each kidservices}}
        .gt_icon{{@index}}{
            color: {{{color}}};
        }
        
        .bannerservices_bg_{{@index}}{
            background: {{{color}}};
        }
        
        .flips_bg_{{@index}}{
        	background:{{{color}}};
        }
        {{/each}}
        
        {{#each facts}}
        .facts_bg_{{@index}}{
        	background:{{{color}}};
        }
        {{/each}}
        
        {{#each servicecat}}
        .courses_bg_{{{id}}}{
        	background:{{{color}}};
        }
        .course_category.courses_bg_{{{id}}}:before{
        	border-color: transparent transparent transparent {{{color}}};
        }
        {{/each}}
        
        {{#each skills.left}}
        .left_p_bg{{@index}}{
            background-color: {{{color}}};    
        }
        {{/each}}
        
        {{#each skills.left}}
        .right_p_bg{{@index}}{
            background-color: {{{color}}};    
        }
        {{/each}}
        
        /*Offer CSS's*/
        {{#each offers}}
        .offers_bg_{{@index}}{
        	background:{{{color}}};
        }
        .bg_offers_{{@index}}{
        	border: 2px solid {{{color}}};
        }
        .gt_offer_wrap.bg_offers_{{@index}}:hover{
        	background-color:{{{color}}};
        }
        .gt_offer_wrap:hover.bg_offers_{{@index}}:before{
        	border:1px solid {{{color}}};
        }
        .gt_wht_offer_wrap > i.offers_bg_{{@index}}:after{
        	border: 2px dotted {{{color}}};
        }
        /*.gt_wht_offer_des span.bg_offers_{{@index}}{*/
        /*	background-color: {{{color}}};*/
        /*}*/
        .gt_wht_offer_wrap:hover i.offers_bg_{{@index}}:after{background-color:{{{color}}};}
        .bg_offers_{{@index}}:before{
        	content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0px;
            right: 0px;
        	opacity: 0;
        }
        
        .gt_offer_wrap:hover.bg_offers_{{@index}}:before{
        	bottom: -10px;
            right: -10px;
            opacity: 1;
        }
        {{/each}}
    </style>
</head>