<!--Banner Wrap Start-->
    <div class="gt_banner default_width">
        <div class="swiper-container" id="swiper-container">
             <ul class="swiper-wrapper">
                 {{#each images.Slider}}
                    <li class="swiper-slide">
                        {{#if this.link}} <a href="{{{link}}}" target="_blank"> {{/if}}
                            <img src="/{{{image}}}" alt="{{{title}}}">
                            <div class="gt_banner_text gt_slide_{{@index}}">
                                {{{description}}}
                            </div>
                        {{#if this.link}} </a> {{/if}}
                    </li>
                    
                {{/each}}
                {{!--<li class="swiper-slide">--}}
                {{!--    <img src="extra-images/banner-02.jpg" alt="">--}}
                {{!--    <div class="gt_banner_text gt_slide_2">--}}
                {{!--        <h3>Learning &#38; fun</h3>--}}
                {{!--        <h2>Perfevt Education</h2>--}}
                {{!--        <h3>Template for your kids</h3>--}}
                {{!--        <a class="btn-left" href="#">see More</a>--}}
                {{!--        <a class="btn-right" href="#">Buy Now!</a>--}}
                {{!--    </div>--}}
                {{!--</li>--}}
                {{!--<li class="swiper-slide">--}}
                {{!--    <img src="extra-images/banner-03.jpg" alt="">--}}
                {{!--    <div class="gt_banner_text gt_slide_3">--}}
                {{!--        <h3>We will take care</h3>--}}
                {{!--        <h2>for your kids</h2>--}}
                {{!--        <a class="btn-left" href="#">see More</a>--}}
                {{!--        <a class="btn-right" href="#">Buy Now!</a>--}}
                {{!--    </div>--}}
                {{!--</li>--}}
             </ul>
         </div>
        <div class="swiper-button-next"><img src="{{settings.righticon}}"></img></div>
        <div class="swiper-button-prev"><img src="{{settings.lefticon}}"></div>
    </div>
    <!--Banner Wrap End-->