<!--Banner Services Wrap Start-->
<div class="gt_servicer">
    <div class="container">
        <div class="row bannerservices">
            {{#each kidservices}}
            <div class="col-md-3 bannerservices-item">
                <div class="gt_main_services bannerservices_bg_{{@index}}">
                    <figure class="bannerservices-figure">
                        <img src="{{{icon}}}">
                    </figure>
                    <h5>{{{title}}}</h5>
                    {{{body}}}
                    <a class="bannerservices_bg_{{@index}}" href="{{{link}}}" target="_blank"> <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!--Banner Services Wrap End-->