<!--Latest News Wrap Start-->
<section class="gt_news_bg wow fadeInUp" id="blog">
    <div class="container">
        <!--Main Heading Wrap Start-->
        <div class="gt_hdg_1 wow zoomIn">
            <h3> {{contents.home.blog.title}}</h3>
            <br>
            {{{contents.home.blog.body}}}
            <span><img src="static/images/hdg-01.png" alt=""></span>
        </div>
        <!--Main Heading Wrap End-->

        <!--Latest News Wrap Start-->
        <div class="gt_news_slider" id="gt_blog_slider">
            {{#each essays.Blog}}
            <div class="item">
                <div class="gt_blog_wrap">
                    <figure>
                        <img src="/{{{image}}}" alt="{{{title}}}">
                        {{!--<figcaption class="gt_blog_figcaption">--}}
                        {{!--    <ul>--}}
                        {{!--        <li><a href="#"><i class="fa fa-search"></i></a></li>--}}
                        {{!--        <li><a href="#"><i class="fa fa-expand"></i></a></li>--}}
                        {{!--    </ul>--}}
                        {{!--</figcaption>--}}
                    </figure>
                    <div class="gt_blog_des_wrap">
                        {{!--<ul class="gt_blog_meta">--}}
                        {{!--    <li><i class="fa fa-calendar"></i>15 Sep 2016</li>--}}
                        {{!--    <li><i class="fa fa-heart"></i>17</li>--}}
                        {{!--    <li><i class="fa fa-comments"></i>04</li>--}}
                        {{!--</ul>--}}
                        <h5><a href="/content/details/{{{id}}}">{{{title}}}</a></h5>
                        <p> {{{body}}} </p>
                        <a href="/content/details/{{{id}}}">Devamını oku <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <!--Latest News Wrap End-->

    </div>
</section>
<!--Latest News Wrap End-->