{{#if skills}}
<!--Skill and Experience Wrap Start-->
<section class="gt_skill_bg">
    <div class="container">
        <!--Main Heading Wrap Start-->
        <div class="gt_hdg_1">
            <h3>Our Skills and Experience</h3>
        </div>
        <!--Main Heading Wrap End-->

        <!--Teacher List Wrap Start-->
        <div class="row">
            <div class="col-md-6">
                <div class="skill-content-3">
                    <div class="skill">
                        {{#each skills.left}}
                        <div class="progress">
                            <div class="lead">{{{title}}} :</div>
                            <div class="left_p_bg{{@index}} progress-bar wow fadeInLeft" data-progress="{{{percentage}}}%" style="width: {{{percentage}}}%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>{{{percentage}}}%</span></div>
                        </div>
                        {{/each}}
                    </div>                      
                </div>
            </div>

            <div class="col-md-6">
                <div class="skill-content-3">
                    <div class="skill">
                        {{#each skills.right}}
                        <div class="progress">
                            <div class="lead">{{{title}}} :</div>
                            <div class="right_p_bg{{@index}} progress-bar wow fadeInLeft" data-progress="{{{percentage}}}%" style="width: {{{percentage}}}%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>{{{percentage}}}%</span></div>
                        </div>
                        {{/each}}                                             
                    </div>                      
                </div>
            </div>
        </div>
        <!--Teacher List Wrap End-->
    </div>
</section>
<!--Skill and Experience Wrap End-->
{{/if}}