<!--Banner Services Wrap Start-->
<div class="gt_servicer">
    <div class="container">
        <div class="row bannerservices">
            {{#each kidservices}}
            <div class="col-md-3 bannerservices-item">
                <div class="gt_main_services bannerservices_bg_{{@index}}">
                    <i class="{{{icon}}}"></i>
                    <h5>{{{title}}}</h5>
                    <p>{{{description}}} </p>
                    <a  class="bannerservices_bg_{{@index}}" href="#"> <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!--Banner Services Wrap End-->