<!--Services Wrap Start-->
<section class="gt_kid_services_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="gt_kid_img">
                    <img src="{{contents.home.kidservices.image}}" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    {{#each kidservices}}
                    <div class="col-md-6 col-sm-6">
                        <!-- Content Box -->
                        <div class="gt_kid_caring_service">
                            <i class="{{{icon}}} gt_icon{{@index}}"></i>
                            <h4>{{{title}}}</h4>
                            {{{description}}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services Wrap End-->