<!--Popular Courses Wrap Start-->
<section id="courses" class="wow fadeInUp">
    <div class="container">
        <div class="gt_hdg_1 wow zoomIn">
            <h3> {{contents.home.courses.title}} </h3>
            <br>
            {{{contents.home.courses.body}}}
            <span><img src="static/images/hdg-01.png" alt=""></span>
        </div>
        
        <div class="row">
            <div class="col-md-8">
                <div class="gt_course_tab_list default_width">
                    <ul id="filterable-item-filter-1">
                        <li><a class="active" data-value="all" href="#">Hepsi</a></li>
                        {{#each settings.allcoursetags}}
                        <li><a data-value="{{@index}}" href="#">{{this}}</a></li>
                        {{/each}}
                        {{!--<li><a data-value="2" href="#">Special Courses</a></li>--}}
                        {{!--<li><a data-value="3" href="#">Famouse Courses</a></li>--}}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt_course_search_bar default_width">
                    <form>
                        <input class="c_ph" type="search" placeholder="Ders araması">
                        <label><input type="submit" value="Ara"></label>
                    </form>
                </div>
            </div>
        </div>

        <!--Popular Courses List Wrap Start-->
        <div id="filterable-item-holder-1">
            {{#each courses}}
            <div class="filterable-item all {{coursetags this.tags}}col-md-4 col-sm-6 col-xs-12">
                <div class="gt_latest_course2_wrap default_width">
                    <figure>
                        <img src="{{this.image}}" alt="{{this.title}}">
                        <figcaption>
                            {{!--<div class="course_price">{{this.price}}&#8378;</div>--}}
                            {{#if ribbon}}<div class="course_category courses_bg_{{@index}}" >{{this.ribbon.category}}</div> {{/if}}
                        </figcaption>
                    </figure>
                    <div class="gt_latest_course_des default_width">
                        <h5><a href="#">{{this.title}}</a></h5>
                        <p> {{{body}}} </p>
                        <div class="gt_latest_course_author">
                            {{#getInstructor this.instructorID}}
                            <figure>
                                <img src="{{{image}}}" alt="{{{name}}}">
                            </figure>
                            <div class="course_author_des">
                                <h6>{{{name}}}</h6>
                                <span>{{{title}}}</span>
                            </div>
                            {{/getInstructor}}
                        </div>
                        <div class="gt_course_apply">
                            <a data-toggle="modal" data-target="#apply_form" href="#">Başvur</a>
                        </div>
                    </div> 
                </div>
            </div>
            {{/each}}
        </div>
        {{!--<div class="gt_view_more default_width">--}}
        {{!--    <a href="#">Load More</a>--}}
        {{!--</div>--}}
        <!--Popular Courses List Wrap End-->

    </div>
</section>
<!--Popular Courses Wrap End-->