<!--Facts and Figure Wrap End-->
        <section class="fact_figure_bg wow fadeInUp">
            <div class="container">
                <div class="gt_hdg_1 wow zoomIn white_hdg">
                    <h3> {{settings.contents.home.facts.title}}</h3>
                    <p> {{settings.contents.home.facts.body}}</p> 
                    <span><img src="static/images/hdg-01.png" alt=""></span>
                </div>
                <div class="row">
                    {{#each facts}}
                    <div class="col-md-3 col-sm-6">
                        <div class="gt_facts_wrap">
                            <h2 class="counter">{{this.number}}</h2>
                            <span>{{this.description}}</span>
                         </div>
                         <span class="facts_border facts_bg_{{@index}}"></span>
                    </div>
                    {{/each}}
                    {{!--<div class="col-md-3 col-sm-6">--}}
                    {{!--    <div class="gt_facts_wrap">--}}
                    {{!--        <h2 class="counter">3000</h2>--}}
                    {{!--        <span>Modern lab</span>--}}
                    {{!--     </div>--}}
                    {{!--     <span class="facts_border bg_2"></span>--}}
                    {{!--</div>--}}
                    {{!--<div class="col-md-3 col-sm-6">--}}
                    {{!--    <div class="gt_facts_wrap">--}}
                    {{!--        <h2 class="counter">3500</h2>--}}
                    {{!--        <span>Instructors</span>--}}
                    {{!--    </div>--}}
                    {{!--    <span class="facts_border bg_3"></span>--}}
                    {{!--</div>--}}
                    {{!--<div class="col-md-3 col-sm-6">--}}
                    {{!--    <div class="gt_facts_wrap">--}}
                    {{!--        <h2 class="counter">5500</h2>--}}
                    {{!--        <span>Students</span>--}}
                    {{!--    </div>--}}
                    {{!--    <span class="facts_border bg_4"></span>--}}
                    {{!--</div>--}}
                </div>
                {{!--<div class="gt_fact_link_wrap default_width">--}}
                {{!--    <a class="button_style_1 btn_lg" href="#">See more</a>--}}
                {{!--    <a class="button_style_1 btn_lg" href="#">Buy Now!</a>--}}
                {{!--</div>--}}
            </div>
        </section>
        <!--Facts and Figure Wrap End-->