<section class="gt_offer_bg" id="offer">
    <div class="container">
        <div class="gt_hdg_1">
            <h3>{{settings.contents.offers.title}}</h3>
            <p>{{settings.contents.offers.body}}</p> 
            <span><img src="static/images/hdg-01.png" alt=""></span>
        </div>
        <!--What We Offer 1 Wrap Start-->
        <div class="row">
            <div class="col-md-4">
                <div class="gt_offer_love_wrap default_width">
                    <ul>
                        {{#each offers.left}}
                        <li>
                            <div class="gt_wht_offer_wrap mb">
                                <i class="{{this.icon}} offers_bg_{{@index}}"></i>
                                <div class="gt_wht_offer_des">
                                    <h5><a href="#">{{this.title}}</a></h5>
                                    <span class="bg_offer_{{@index}}"></span>
                                    {{this.description}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                        
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="gt_offer_img default_img">
                    <img src="static/images/kids.png" alt="">
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="default_width">
                    <ul>
                        {{#each offers.right}}
                        <li>
                            <div class="gt_wht_offer_wrap mb">
                                <i class="{{this.icon}} bg_4"></i>
                                <div class="gt_wht_offer_des">
                                    <h5><a href="#">{{this.title}}</a></h5>
                                    <span class="bg_offer_4"></span>
                                    {{this.description}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!--What We Offer 1 Wrap End-->
    </div>
</section>
<!--offer Wrap End-->