<!--Aside Bar Wrap Start-->
{{#if essays}}
<div class="col-md-3">
    <aside class="gt_aside_outer_wrap">
        <div class="gt_aside_tags gt_detail_hdg">
            <h6>Etiketler</h6>
            <ul>
                <li>
                    {{#each allTags}}
                    <a href="/blog/1?cat={{{title}}}">{{{title}}} ({{{amount}}})</a>
                    {{/each}}
                </li>
            </ul>
        </div>
        <!--Tags Wrap Start-->
    </aside>
</div>
<!--Aside Bar Wrap End-->
{{/if}}

<!--Aside Bar Wrap Start-->
{{#if services}}
<div class="col-md-3">
    <aside class="gt_aside_outer_wrap">
        <!--Search Bar Wrap Start-->
        <div class="gt_aside_search_wrap aside_margin_bottom">
            <form action="/course/1">
                <input class="c_ph" type="text" name="q" placeholder="Kurs Ara">
                <button class="fa fa-search" type="submit"></button>
            </form>
        </div>
        
        <!--Tags Wrap Start-->
        <div class="gt_aside_tags gt_detail_hdg">
            <h6>Etiketler</h6>
            <ul>
                <li>
                    {{#each settings.allcoursetags}}
                    <a href="/blog/1?cat={{this}}">{{this}}</a>
                    {{/each}}
                </li>
            </ul>
        </div>
        <!--Tags Wrap Start-->
    </aside>
</div>
<!--Aside Bar Wrap End-->
{{/if}}